{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<form method="POST">
    <div>
        <label for="username">username: </label>
        <input type="text" id="username" name="username" placeholder="username" value="{{ request.form['username'] }}">
    </div>
    <div>
        <label for="password1">password: </label>
        <input type="password" id="password1" name="password1" placeholder="password" value="{{ request.form['password1'] }}">
    </div>
    <div>
        <label for="password2">password: </label>
        <input type="password" id="password2" name="password2" placeholder="password" value="{{ request.form['password2'] }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}